{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
  <p>Hello, I am an Indie dev from Colorado. I have been coding for 4 years. I enjoy using NodeJS, Python, HTML, CSS, JavaScript, Java, C, C++, C#, Unity, and many other things. I currently am playing Will You Snail, Minecraft, Roblox, and other games on sites such as Khan Academy and Repl.it. I use Repl.it Khan Academy and Github, and my accounts are listed below. The reason I started coding was because I often finished my homework before everyone else, so I was told to learn to code. </p>
{% endblock %}